<?xml version='1.0' encoding='utf-8'?>
<widget id="com.secondjob.marketplace_mobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

    <!-- meta data -->
    <name>Shoppings Brasil</name>
    <description>
        Encontre o mais próximo
    </description>
    <author email="rodolfobarretoweb@gmail.com" href="http://secondjob.com.br">
        Secondjob
    </author>
    <content src="main.html" />

    <!-- preference -->
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    
    <!-- icon -->
    <icon src="www/res/icon/icon.png" />

    <!-- splash -->
    <platform name="android">
        <splash src="www/res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
        <splash src="www/res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
        <splash src="www/res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
        <splash src="www/res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>

        <splash src="www/res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="www/res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="www/res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="www/res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
    </platform>

    <!-- preferences -->
    <preference name="Splashscreen" value="screen"/>

    <!-- preferences of android -->
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-targetSdkVersion" value="21" />

    <!-- access -->
    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes" />
</widget>
