/* Animation of sub nav */
@-webkit-keyframes open_sub_nav {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}

@-webkit-keyframes close_sub_nav {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

.open_sub_nav_animation {
  -webkit-animation : open_sub_nav 0.3s ease !important;
  left:0% !important;
}

.close_sub_nav_animation {
  -webkit-animation : close_sub_nav 0.3s ease !important;
  left:-100% !important;
}