/* Global */
body {
  background: #f1f1f1;
  padding-top: 80px;
  overflow-x: hidden;
}

p {
  font-size: 1.0em;
  letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6 {
  margin:0px;
}

input:focus, button:focus {
  outline: none !important;
}

/* Rewriting bootstrap */
.tab-content {
  padding-top: 10px;
}

.dropdown-menu li a{
  padding: 15px;
}

.btn-default {
  background: #f5f5f5 !important;
  box-shadow: none !important;
}

/* Main header */
#main-header {
  background: #3F51B5;
  position: fixed;
  left: 0px;
  right: 0px;
  top:0px;
  z-index: 2000;
}

#main-header h1 {
  font-size: 1.2em;
  color: #fff;
  padding:23px 0px 20px 0px;
}

#trigger-main-search{
  background: none;
  border: none;
  color:#fff;
  padding:20px 0px 20px 0px;
}

/* Main search */
#main-header-search-field {
  background: none;
  border: none;
  width: 100%;
  padding:20px 0px 20px 0px;
  margin-left: -20px;
  color: #fff;
}

#main-header-search ::-webkit-input-placeholder{
  color: #fff;
}

#main-header-search :-ms-input-placeholder {
  color: #fff;
}

#main-header-search-back-button{
  border: none;
  background: none;
  color: #fff;
  padding:20px 0px 20px 0px;
}

/* centralizes columns */
.col-center{
  float: none;
  margin: 0 auto;
}

/* Card */
.card{
  margin-bottom: 20px;
  background: #fff;
  border:1px solid #dfdfdf;
  padding:20px;
}

.card-header {
  margin-bottom: 10px;
}

.card-header hgroup {
  margin:0px;
}

.card-header h3 {
  font-size:1.2em;
  font-weight: bold;
}

.card-header h4 {
  font-size: 0.8em;
}

.card-img {
  margin: 0px -20px 0px -20px;
}

/* Loading */
#loading {
  display: none;
  z-index: 3000;
  background: #000;
  opacity: 0.5;
  position: fixed;
  top:0px;
  left:0px;
  right: 0px;
  bottom:0px;
}

#loading img {
  position: fixed;
  top:50%;
  left:45%;
}


/* Icons of content (call external services) */
#call-external-service {
  padding: 10px;
}

#call-external-service button{
  background: none;
  border: none;
  font-size:2.0em;
  color:#666;
}

#call-external-service .service-disabled {
  color:#dfdfdf;
}