/* Global */
body {
  background: #f1f1f1;
  padding-top: 80px;
}

p {
  font-size: 1.0em;
  letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6 {
  margin:0px;
}

input:focus, button:focus {
  outline: none;
}

/* Rewriting bootstrap */
.tab-content {
  padding-top: 10px;
}

.dropdown-menu li a{
  padding: 15px;
}

/* Main header */
#main-header {
  background: #3F51B5;
  position: fixed;
  left: 0px;
  right: 0px;
  top:0px;
  z-index: 2000;
}

#main-header h1 {
  font-size: 1.2em;
  color: #fff;
  padding:23px 20px 20px 20px;
}

#trigger-main-search{
  background: none;
  border: none;
  color:#fff;
  padding:20px;
}

/* Main search */
#main-header-search-field {
  background: none;
  border: none;
  width: 100%;
  padding:20px;
  color: #fff;
}

#main-header-search ::-webkit-input-placeholder{
  color: #fff;
}

#main-header-search :-ms-input-placeholder {
  color: #fff;
}

#main-header-search-back-button{
  border: none;
  background: none;
  color: #fff;
  padding:20px;
}

/* centralizes columns */
.col-center{
  float: none;
  margin: 0 auto;
}

/* Card */
.card{
  background: #fff;
  box-shadow:0px 9px 12px -14px #000;
  border:1px solid #dfdfdf;
  margin-bottom: 30px;
}

.card-header, .card-content, .card-footer{
  margin: 0px 25px 0px 25px;
}

.card-header {
  padding-bottom: 10px;
  margin-top: 20px;
}

.card-header > h1,h2,h3,h4,h5,h6 {
  margin:0px;
  font-size:1.4em;
}

.card-header a{
  color:#333;
}

.card-content, .card-footer{
  padding-bottom:20px;
}

/* Loading */
#loading {
  display: none;
  z-index: 3000;
  background: #000;
  opacity: 0.5;
  position: fixed;
  top:0px;
  left:0px;
  right: 0px;
  bottom:0px;
}

#loading img {
  position: fixed;
  top:50%;
  left:45%;
}